
.container > .container > .homeabout {
	background-color: blue;
	text-decoration: none;
	color: black;
}


.container > .header h1, .header h3 {
	display:inline;
}


.container > .header h3 {
	color: grey;
}


 .container > .row1 {
	padding: 10px 10px;
	clear: both;
	height: auto;
	align:middle;
	margin-left: auto;
 	margin-right: auto;

}

.container > .headline {
	margin: 0;
}

section.row1 > .main-text > h3{
	padding: 0 auto;
	margin-top: 5px;
}


section.row2 {
	padding: 2px;
	clear: both;
	height: auto;
}

section.row2 > .team > .team-picture{
	margin- left: : 1px;

}


img.img-responsive{
	padding: 0 auto;
	align:middle;
  	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

section.row2 > .team > .team-picture > .thumbnail > .team-text h3, .team-text h4, .team-text h5{
	padding: 0;
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
}

section.row2 > .team > .team-picture > .thumbnail {
	align:center;
	display: table-cell;
    vertical-align: middle;
}

section.row2 > .team > .team-picture > .thumbnail > .team-text > .social {
  text-align: center;
  vertical-align: middle;
  color:steelblue;
}

footer.a {
	color: white;
}

section.row2 >.customers > .img-responsive {
	padding-bottom: 10px;
}